<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clover" >

    <uses-permission android:name="cn.bmob.permission.push" /> <!-- 添加自定义的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal" >
    </permission>
    <uses-permission android:name="cn.bmob.permission.push" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.AnniversaryActivity"
            android:label="@string/title_activity_anniversary" >
        </activity>
        <activity
            android:name=".ui.HealthActivity"
            android:label="@string/title_activity_health" >
        </activity>

        <!-- IM聊天所需的Push start-->
        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process="cn.bmob.push" >
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter android:priority="2147483647" > <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <!--聊天消息接收器 -->
        <receiver android:name=".net.MyMessageReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>

        <!-- IM聊天所需的Push end-->

        <!-- 个性功能中的启动定时检测服务，可选功能 -->
        <service android:name="cn.bmob.im.poll.BmobPollService">
            <intent-filter>
                <action android:name="cn.bmob.im.service.BmobPollService"/>
            </intent-filter>
        </service>

        <activity
            android:name="ui.LoverManagerActivity"
            android:label="@string/title_activity_lover_manager" >
        </activity>
        <activity
            android:name="ui.UserInfoUpdateActivity"
            android:label="@string/title_activity_user_info_update" >
        </activity>
        <activity
            android:name="ui.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name="ui.TTTAActivity"
            android:label="@string/title_activity_ttta" >
        </activity>
        <activity
            android:name="ui.TZFEActivity"
            android:label="@string/title_activity_tzfe" >
        </activity>
        <activity
            android:name="ui.SpaceActivity"
            android:label="@string/title_activity_space" >
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".ui.EditUserInfoActivity"
            android:label="@string/title_activity_edit_user_info" >
        </activity>
    </application>

</manifest>
